
@font-face {
    font-family: "Cinzel";
    src: local("Cinzel"), url(../assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf) format("truetype");
}
body{
    font-family: "Cinzel", Arial, Helvetica, sans-serif;
}